.places {
  margin: 0 auto;
  display: grid;
  grid-template-rows: repeat(5, max-content);
  row-gap: 80px;
}

@media screen and (max-width: 767px)  { 
  .places {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .places {
    margin-left: 24px;
    margin-right: 24px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1200px) {
  .places {
    width: calc(100vw - 96px);
  }
}

@media screen and (min-width: 1200px) {
  .places {
    width: calc(100vw - 148px - 148px);
  }
}