.lead {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 1024px) and (max-width: 1200px) {
  .lead {
    width: calc(100vw - 96px);
  }
}

@media screen and (min-width: 1201px) {
  .lead {
    width: calc(100vw - 148px - 148px);
  }
}