.cover__subtitle {
  font-family: 'Inter-Regular';
  margin: 0;
  line-height: 22px;
  font-size: 18px;
  font-weight: 400;
  color: white;
  text-align: center;
  text-decoration: none;
  max-width: 360px;
}

@media screen and (max-width: 767px)  { 
  .cover__subtitle {
    line-height: 16px;
    font-size: 14px;
    max-width: 288px;
    text-align: center;
  }
}