.place-website {
  padding: 0;
  margin: 0;
  list-style-type: none;
  grid-area: website;
  align-self: end;
}

@media screen and (max-width: 767px)  { 
  .place-website {
    margin: 0 16px;
    align-self: start;
  }
}