.header {
  margin: 28px 48px 0;
  height: min-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 767px)  {
  .header {
    margin: 16px 16px 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .header {
    margin-left: 24px;
    margin-right: 24px;
  }
}

@media screen and (min-width: 1200px) {
  .header{
    margin-bottom: 8px;
  }
}