.header {
  max-width: 1184px;
  margin: 28px auto 48px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .header {
    margin: 16px 16px 48px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .header {
    margin-left: 24px;
    margin-right: 24px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1200px) {
  .header {
    margin-left: 48px;
    margin-right: 48px;
  }
}