.content {
  max-width: 1184px;
  margin: auto;
  color: white;
  display: flex;
  flex-direction: column;
  row-gap: 92px;
}

@media screen and (max-width: 768px) {
  .content {
    row-gap: 64px;
  }
 }

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .content {
    row-gap: 88px;
  }
}