.place__paragraphs {
  margin: 0;
  padding: 0;
  grid-area: paragraph;
  line-height: 29px;
  font-size: 18px;
  font-weight: 400;
}

@media screen and (max-width: 767px)  {
  .place__paragraphs {
    margin: 0 16px;
  }
}