.intro-list {
  margin: 33px 0 0;
  padding: 0;
  line-height: 18px;
  font-size: 12px;
  font-weight: 400;
  text-align: left;
  list-style-type: none;
}

@media screen and (max-width: 767px)  { 
  .intro-list {
    line-height: 18px;
    font-size: 12px;
    font-weight: 400;
 }
}