.lead__title {
  font-family: 'Inter-Black', 'Helvetica Neue', 'Arial', sans-serif;
  margin: 0;
  line-height: 100px;
  font-size: 96px;
  font-weight: 900;
  width: min-content;
  text-align: center;
  align-self: center;
}

@media screen and (max-width: 767px) {
  .lead__title {
    line-height: 44px;
    font-size: 40px;
  }
}