@import url(../vendor/normalize.css);
@font-face {
	font-family: 'Inter-Regular'; 
	src: local('Inter-Regular'),
  url(../Inter/Inter-Regular.woff2) format('woff2'),
  url(../Inter/Inter-Regular.woff) format('woff');}
   
  @font-face {
  font-family: 'Inter-Black'; 
	src: local('Inter-Black'),
  url(../Inter/Inter-Black.woff2) format('woff2'),
  url(../Inter/Inter-Black.woff) format('woff'); 
}

.page {
  border: 1px solid red;
  margin: 0 auto;
  width: 100%;
  background: #2A2C2F;
  font-family: "Inter-Regular";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  cursor: pointer;
}


/*высота для смартфона 42px;
ширина для смартфона 288px;
отступ от header для десктопа 56px;*/
.header {
  border: 1px solid red;
  margin: 28px 48px 0;
  height: 52px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.content {
    border: 2px solid red;
    margin: 48px 48px 24px;
    color: white;
    display: flex;
    flex-direction: column;
    row-gap: 92px;
    justify-content: space-between;
  }

.logo-header {
  border: 1px solid green;
  width: 176px;
  height: 52px;
  background-image: url(../images/header-logo.svg);
}

.header-links {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 18px;
}

.header__link {
  border: 1px solid blue;
  color: white;
  line-height: 28px;
  font-size: 24px;
  font-weight: 400;
  text-decoration: none;
}

.header__link:active {
  text-decoration: underline;
}

.header__link:hover {
  text-decoration: underline; 
  text-decoration-color: white;
}

.lead {
  border: 1px solid blue;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.lead__title {
  border: 1px solid blue;
  margin: 0 auto 32px;
  font-family: "Inter-Black";
  line-height: 100px;
  font-size: 96px;
  font-weight: 900;
  text-align: center;
  width: min-content;
}

.lead__subtitle {
  border: 1px solid blue;
  margin: 0 auto 56px;
  line-height: 36px;
  font-size: 30px;
  font-weight: 400;
  text-align: center;
  min-width: 288px;
  max-width: 640px;
  
}

.lead__image {
  border: 1px solid yellow;
  margin: 0;
  width: 100%;
  align-self: center;
}

.lead__caption {
  border: 1px solid blue;
  margin: 8px 0 0;
  line-height: 14px;
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 1.5px;
  width: 158px;
  height: 14px;
}

.intro {
  border: 1px solid blue;
  max-width: 690px;
  margin: 0;
  padding: 0;
  
}

.intro__title {
  font-family: "Inter-Black";
  margin: 0;
  line-height: 58px;
  font-size: 54px;
  font-weight: 900;
}

.intro__text {
  margin: 40px 0 33px;
  line-height: 26px;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
}

.intro__list {
  margin: 33px 0 0;
  padding: 0;
  line-height: 18px;
  font-size: 12px;
  font-weight: 400;
  text-align: left;
  list-style-type: none;
}

.intro__list_acent {
  font-family: "Inter-Black";
}

.photo-grid {
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  gap: 14px;
  flex-basis: 671px;
}

.photo-grid__item {
    object-fit: cover;
    width: 100%;
}

.places {
  border: 1px solid blue;
  margin: 0;
  display: grid;
  grid-template-rows: repeat(5, max-content);
  row-gap: 80px;
}

.place {
    border: 1px solid green;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(2, minmax(288px, max-content));
    grid-template-rows: repeat(3, min-content);
    gap: 48px 32px;
    grid-template-areas: 
    "title website"
    "image paragraph"
    "image paragraph"
}


.place__title {
  border: 1px solid green;
  margin: 0;
  grid-area: title;
  font-family: 'Inter-Black';
  line-height: 76px;
  font-size: 72px;
  font-weight: 900;
  align-self: start;
  width: min-content;
}

.place__image {
  border: 1px solid green;
  grid-area: image;
  object-fit: cover;
  width: 100%;
}

.place__website {
    border: 1px solid green;
list-style-type: none;
grid-area: website;
align-self: end;
padding: 0;
margin: 0;

}

.place__website__url-heading {
margin: 0 0 12px;
line-height: 12px;
font-size: 12px;
font-weight: 400;
letter-spacing: 2px;
opacity: 80%;
}

.place__website__link {
    color: white;
    line-height: 22px;
font-size: 18px;
font-weight: 400;
}

.place__website__link:hover {
  cursor: url("../images/kursor.svg") 2 2 auto;
  transition: 1s;
  opacity: 80%;
}

.place__paragraphs {
    border: 1px solid green;
    margin: 0;
    padding: 0;
    grid-area: paragraph;
    line-height: 29px;
 font-size: 18px;
 font-weight: 400;
}

.place__paragraph {
    margin: 0;
}

.place__paragraph:first-child {
    margin: 0 0 27px;
}

.cover {
  border: 1px solid yellow;
  margin: 0;
  display: grid;
  grid-template-columns: minmax(320px, 1184px);
  grid-template-rows: minmax(200px, min-content);
  width: 100%;
  object-fit: cover;
}
  
.cover__group {
  justify-self: center;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  grid-column: 1/1;
  grid-row: 1/1;
  z-index: 1;
}
/*здесь, чтобы затемнялись сразу все элементы
.cover:hover {
  opacity: .3;
}*/

.cover__background:hover {
  opacity: .3;
}

.cover__title:hover {
  opacity: .3;
}

.cover__subtitle:hover {
  opacity: .3;
}

.cover__background {
  margin: 0;
  grid-column: 1/1;
  grid-row: 1/1;
  opacity: .8;
  width: 100vw;
  justify-self: center;
  
}


.cover__title {
  margin: 0;
  font-family: 'Inter-Black';
  line-height: 76px;
  font-size: 72px;
  font-weight: 900;
  min-width: 288px;
  max-width: 560px;
  text-align: center;
}

.cover__subtitle { 
  margin: 0;
  line-height: 22px;
  font-size: 18px;
  font-weight: 400;
  min-width: 288px;
  max-width: 360px;
  text-align: center;
  text-decoration: none;
  color: white;
}
.cover__subtitle:hover {
    cursor: url("../images/kursor.svg") 2 2 pointer;
 }

.footer {
  border: 1px solid green;
  margin: 0;
  padding: 0;
  display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
}


.menu {
    margin: 0;
    padding: 0;
  display: flex;
  list-style-type: none;
  column-gap: 18px;
    
    
}

.footer__link {
  border: 1px solid rebeccapurple;
  color: white;
  text-decoration: none;
  line-height: 18px;
  font-size: 16px;
  font-weight: 400;
}

.footer__copyright {
  border: 1px solid yellow; 
  margin: 0;
  line-height: 16px;
  font-size: 14px;
  font-weight: 400;
}


@media screen and (max-width: 500px)  {
  .header {
    margin: 16px 16px 0;
  }
  .logo-header {
   width: 142px;
   height: 42px;
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
  }
  .header__link {
    line-height: 20px;
    font-size: 18px;
    font-weight: 400;
  }
.content {
  margin: 48px 16px 24px;
  row-gap: 64px;
}
  .lead__title {
    margin: 0 auto 16px;
    line-height: 44px;
    font-size: 40px;
    font-weight: 900;
    
  }
  
  .lead__subtitle {
    line-height: 20px;
    font-size: 16px;
    font-weight: 400;
  }
  
  .lead__image {
    width: 100vw;
    justify-self: center;
    margin: 0;
  }

  .intro__title {
    line-height: 35px;
    font-size: 32px;
    font-weight: 900;
  }
.intro__text {
  line-height: 26px;
  font-size: 16px;
  font-weight: 400;
}

.intro__list {
  line-height: 18px;
  font-size: 12px;
  font-weight: 400;
}
.photo-grid {
row-gap: 12px;
}

.places {
  display: flex;
  flex-direction: column;
}

  .place {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
  }
  .place__title {
    line-height: 35px;
    font-size: 32px;
    width: max-content;
   }
 .place__website {
  align-self: start;
 }
   .place__image {
    width: 100vw;
 align-self: center;
   }
   .place__paragraph:first-child {
    margin: 0 0 25px;
}
.cover {
  display: flex;
  flex-direction: column;
}
.cover__background {
  width: 100vw;
  align-self: center;
}
.cover__title {
  line-height: 35px;
  font-size: 32px;
  font-weight: 900;
}
.cover__subtitle {
line-height: 16px;
  font-size: 12px;
  font-weight: 400;
}
.footer {
  display: flex;
  flex-direction: column;
  row-gap: 48px;
}
.menu {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}
.footer__link {
  line-height: 24px;
  font-size: 24px;
  font-weight: 400;
}
.footer__copyright {
  line-height: 14px;
  font-size: 14px;
  font-weight: 400;
}
}

@media screen and ((min-width: 501px) and (max-width: 800px)) {
  .header {
    margin-left: 24px;
    margin-right: 24px;
  }


  .content {
    row-gap: 88px;
    margin: 48px 24px;
  }

.lead__image {
  width: 100vw;
  justify-self: center;
  margin: 0;
}

  .intro {
    max-width: 100%;
  }

  .place {
  column-gap: 28px;
  }

  .place__title {
    line-height: 46px;
    font-size: 42px;
   }
  
} 
 
@media screen and (min-width: 801px) and (max-width: 1200px) {
.photo-grid__item {
  border: 1px solid #000;
}
  
}

@media screen and (min-width: 1200px) {
  .header{
    margin-bottom: 8px;
  }
  .lead {
    margin: 0 100px;
  }

  .intro {
    margin-left: 100px;
  }
  .lead__subtitle {
    margin-bottom: 64px;
  }

  .places {
    margin: 0 100px;
  }

  .place {
    gap: 48px 40px;
  }

  .cover__background {
    width: 100%;
  }
} 